@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.switch {
  cursor: pointer;
  text-decoration: underline;
  padding: 0 0.5rem 0 0;
}
.switch--hidden {
  display: none;
}

.banner {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
@media only screen and (orientation: portrait) {
  .banner {
    flex-direction: column;
  }
}
.spotlight {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
}
@media only screen and (orientation: portrait) {
  .spotlight {
    flex-direction: column;
  }
}
.spotlight .content--front {
  border-radius: 0;
}

.content {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2rem 2rem 0.5rem 2rem;
  transition: all 0.5s linear;
  width: 50%;
}
@media only screen and (orientation: portrait) {
  .content {
    order: 2;
    width: 100%;
  }
}
@media only screen and (min-width: 920px) {
  .content {
    padding: 6rem 6rem 0.5rem 6rem;
  }
}
.content::before {
  background: white;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.content * {
  margin-bottom: 1rem;
}
.content__header h1 {
  font-size: 4rem;
}
.content__header h2 {
  font-size: 2rem;
}
.content__header p {
  font-size: 1.25rem;
}
.content__button {
  background: none;
  border-radius: 40px;
  border-width: 2px;
  border-color: inherit;
  border-style: solid;
  color: inherit;
  font-size: 1.5rem;
  margin: auto auto auto 0;
  padding: 1rem 3rem;
}
.content--alignEnd {
  text-align: end;
}
.content--alignEnd .content__button {
  margin: auto 0 auto auto;
}
.content--alignCenter {
  text-align: center;
}
.content--alignCenter .content__button {
  margin: auto;
}
.content--altOrder {
  order: 2;
}
@media only screen and (orientation: portrait) {
  .content--altOrder {
    order: 1;
  }
}
.content--altSize {
  width: 70%;
}
@media only screen and (orientation: portrait) {
  .content--altSize {
    width: 100%;
  }
}
.content--purple {
  color: white;
}
.content--purple::before {
  background: #9b5de5;
}
.content--purple__button {
  border-color: white;
}
.content--pink::before {
  background: #f15bb5;
}
.content--yellow::before {
  background: #fee440;
}
.content--blue {
  border-color: white;
  color: white;
}
.content--blue::before {
  background: #00bbf9;
}
.content--blue__button {
  border-color: white;
}
.content--teal::before {
  background: #00f5d4;
}
.content--black {
  border-color: white;
  color: white;
}
.content--black::before {
  background: black;
}
.content--front {
  border-radius: 10px;
  margin: auto;
  padding: 3rem;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
@media only screen and (max-width: 920px) {
  .content--front {
    padding: 1rem;
    width: auto;
  }
}
.content--front::before {
  opacity: 0.5;
}
.content--front--altLeft {
  margin-left: 1rem;
}
.content--front--altRight {
  margin-right: 1rem;
}
.content--front--altBottom {
  margin-bottom: 1rem;
}
.content--front--altTop {
  margin-top: 1em;
}
.content--front--closed p, .content--front--closed a {
  display: none;
}
.content--front--closed::before {
  opacity: 1;
}
.content--front--top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 0;
}
.content--front--left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}
.content--front--right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}
.content--front--bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.image {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: black;
  display: flex;
  height: auto;
  position: relative;
  order: 2;
  transition: all 0.5s linear;
  width: 50%;
}
@media only screen and (orientation: portrait) {
  .image {
    height: 50vh;
    order: 1;
    width: 100%;
  }
}
.image::before {
  background: white;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.image img {
  height: 100%;
  left: 0;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.image--altOrder {
  order: 1;
}
@media only screen and (orientation: portrait) {
  .image--altOrder {
    order: 2;
  }
}
.image--altSize {
  width: 30%;
}
@media only screen and (orientation: portrait) {
  .image--altSize {
    width: 100%;
  }
}
.image--back {
  height: 100%;
  position: absolute;
  width: 100%;
}
.image--back--cover {
  z-index: 3;
}
.image--purple::before {
  background: #9b5de5;
}
.image--pink::before {
  background: #f15bb5;
}
.image--yellow::before {
  background: #fee440;
}
.image--blue::before {
  background: #00bbf9;
}
.image--imgPos1 img {
  object-position: 50% 25%;
  object-fit: none;
}
.image--imgPos2 img {
  object-position: 0% 50%;
  object-fit: none;
}
.image--imgPos3 img {
  object-position: 50% 50%;
  object-fit: none;
}
.image--imgPos4 img {
  object-position: 100% 50%;
  object-fit: none;
}
.image--imgPos5 img {
  object-position: 50% 100%;
  object-fit: none;
}
.image--teal::before {
  background: #00f5d4;
}
.image--black::before {
  background: black;
}
.image--circle img {
  border-radius: 50%;
  position: relative;
  left: 0;
  height: min(100%, 20rem);
  width: 25rem;
  margin: auto;
  max-width: min(100%, 20rem);
}
@media only screen and (orientation: portrait) {
  .image--circle img {
    width: 100%;
  }
}
.image--circle--left img {
  margin-left: 1rem;
}
.image--circle--top img {
  margin-top: 1rem;
}
.image--circle--right img {
  margin-right: 1rem;
}
.image--circle--bottom img {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
