@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap");
a {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  transition: all 0.25s ease-in-out;
}

.switch {
  cursor: pointer;
  text-decoration: underline;
  padding: 0 0.5rem 0 0;
}
@media only screen and (min-width: 920px) {
  .switch:hover {
    color: #00bbf9;
    text-decoration: none;
  }
}
.switch--hidden {
  display: none;
}

.banner {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
@media only screen and (orientation: portrait) {
  .banner {
    flex-direction: column;
  }
}
.spotlight {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
}
@media only screen and (orientation: portrait) {
  .spotlight {
    flex-direction: column;
  }
}
.spotlight .content--front {
  border-radius: 0;
}

.content {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2rem 2rem 0.5rem 2rem;
  width: 50%;
}
@media only screen and (orientation: portrait) {
  .content {
    order: 2;
    width: 100%;
  }
}
@media only screen and (min-width: 920px) {
  .content {
    padding: 6rem 6rem 0.5rem 6rem;
  }
}
.content::before {
  background: white;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.content__header h1 {
  font-size: 4rem;
  margin-top: 0;
}
@media only screen and (max-width: 920px) {
  .content__header h1 {
    font-size: 2rem;
  }
}
.content__header h2 {
  font-size: 2rem;
  margin-top: 0;
}
@media only screen and (max-width: 920px) {
  .content__header h2 {
    font-size: 1.25rem;
  }
}
.content__header p {
  font-size: 1.25rem;
  margin-top: 1rem;
}
@media only screen and (max-width: 920px) {
  .content__header p {
    font-size: 1rem;
  }
}
.content__button {
  background: none;
  border-radius: 40px;
  border-width: 2px;
  border-color: inherit;
  border-style: solid;
  color: inherit;
  font-size: 1.5rem;
  margin: 1rem auto auto 0;
  padding: 1rem 3rem;
}
.content__blurb {
  margin-top: 1rem;
}
@media only screen and (max-width: 920px) {
  .content__blurb {
    font-size: 0.9rem;
  }
}
.content--alignEnd {
  text-align: end;
}
.content--alignEnd .content__button {
  margin: 1rem 0 auto auto;
}
.content--alignCenter {
  text-align: center;
}
.content--alignCenter .content__button {
  margin: 1rem auto auto auto;
}
.content--altOrder {
  order: 2;
}
@media only screen and (orientation: portrait) {
  .content--altOrder {
    order: 1;
  }
}
.content--altSize {
  width: 70%;
}
@media only screen and (orientation: portrait) {
  .content--altSize {
    width: 100%;
  }
}
.content--purple {
  color: white;
}
.content--purple::before {
  background: #9b5de5;
}
.content--purple__button {
  border-color: white;
}
.content--pink::before {
  background: #f15bb5;
}
.content--yellow::before {
  background: #fee440;
}
.content--blue {
  border-color: white;
  color: white;
}
.content--blue::before {
  background: #00bbf9;
}
.content--blue__button {
  border-color: white;
}
.content--teal::before {
  background: #00f5d4;
}
.content--black {
  border-color: white;
  color: white;
}
.content--black::before {
  background: black;
}
.content--front {
  border-radius: 10px;
  margin: auto;
  padding: 3rem;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
@media only screen and (max-width: 920px) {
  .content--front {
    padding: 1rem;
    width: auto;
  }
}
.content--front::before {
  opacity: 0.5;
}
.content--front--pos1 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}
@media only screen and (orientation: portrait) {
  .content--front--pos1 {
    margin-top: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.content--front--pos2 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}
@media only screen and (orientation: portrait) {
  .content--front--pos2 {
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
.content--front--opaque::before {
  opacity: 1;
}

.image {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: black;
  display: flex;
  height: auto;
  position: relative;
  order: 2;
  width: 50%;
}
@media only screen and (orientation: portrait) {
  .image {
    height: 50vh;
    order: 1;
    width: 100%;
  }
}
.image::before {
  background: white;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.image img {
  height: 100%;
  left: 0;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.image--hidden {
  opacity: 0.05;
}
.image--altOrder {
  order: 1;
}
@media only screen and (orientation: portrait) {
  .image--altOrder {
    order: 2;
  }
}
.image--altSize {
  width: 30%;
}
@media only screen and (orientation: portrait) {
  .image--altSize {
    width: 100%;
  }
}
.image--back {
  height: 100%;
  position: absolute;
  width: 100%;
}
.image--back--cover {
  z-index: 3;
}
.image--purple::before {
  background: #9b5de5;
}
.image--pink::before {
  background: #f15bb5;
}
.image--yellow::before {
  background: #fee440;
}
.image--blue::before {
  background: #00bbf9;
}
.image--imgPos1 img {
  object-position: 50% 25%;
  object-fit: none;
}
.image--imgPos2 img {
  object-position: 0% 50%;
  object-fit: none;
}
.image--imgPos3 img {
  object-position: 50% 50%;
  object-fit: none;
}
.image--imgPos4 img {
  object-position: 100% 50%;
  object-fit: none;
}
.image--imgPos5 img {
  object-position: 50% 100%;
  object-fit: none;
}
.image--teal::before {
  background: #00f5d4;
}
.image--black::before {
  background: black;
}
.image--circle img {
  border-radius: 50%;
  position: relative;
  left: 0;
  height: min(100%, 20rem);
  width: 25rem;
  margin: auto;
  max-width: min(100%, 20rem);
}
@media only screen and (orientation: portrait) {
  .image--circle img {
    width: 100%;
  }
}
.image--circle--left img {
  margin-left: 1rem;
}
.image--circle--top img {
  margin-top: 1rem;
}
.image--circle--right img {
  margin-right: 1rem;
}
.image--circle--bottom img {
  margin-bottom: 1rem;
}

.inner {
  padding: 2rem 2rem 0.5rem 2rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 920px) {
  .inner {
    padding: 6rem 6rem 0.5rem 6rem;
  }
}
.inner__blurb {
  margin-top: 1rem;
}
.inner__header h2 {
  font-size: 2rem;
  margin-top: 0;
}
@media only screen and (max-width: 920px) {
  .inner__header h2 {
    font-size: 1.25rem;
  }
}

.gallery {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
  height: auto;
}
.gallery::before {
  background: white;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.gallery__track {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  height: auto;
  width: 100%;
}
.gallery__slide {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 75vw;
  margin: auto;
  position: relative;
  height: 240px;
  width: 22.5rem;
}
.gallery__slide img {
  max-width: 100%;
  object-fit: cover;
}
.gallery__slide figcaption {
  position: relative;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  padding: 1rem 2rem;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
}
.gallery__slide figcaption::before {
  background: white;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.gallery__slide figcaption * {
  margin-bottom: 0.5rem;
}
.gallery__slide figcaption a {
  pointer-events: auto;
  margin: 0.5rem auto 0.5rem auto;
  padding: 0.5rem 2rem;
}
.gallery__slide:hover figcaption {
  opacity: 1;
  visibility: visible;
}
.gallery__container {
  position: relative;
  height: auto;
}
.gallery__container:hover button {
  opacity: 1;
}
.gallery__arrow {
  border: none;
  color: white;
  cursor: pointer;
  padding: 0 2rem;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 2;
}
@media only screen and (min-width: 920px) {
  .gallery__arrow {
    opacity: 0;
  }
}
.gallery__arrow:focus {
  outline: none;
}
.gallery__arrow i {
  font-size: 2rem;
}
.gallery__arrow--left {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
  left: 0;
}
.gallery__arrow--right {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
  right: 0;
}
.gallery--purple {
  color: white;
}
.gallery--purple::before {
  background: #9b5de5;
}
.gallery--purple figcaption::before {
  background: #9b5de5;
}
.gallery--pink::before {
  background: #f15bb5;
}
.gallery--pink figcaption::before {
  background: #f15bb5;
}
.gallery--yellow::before {
  background: #fee440;
}
.gallery--yellow figcaption::before {
  background: #fee440;
}
.gallery--blue {
  border-color: white;
  color: white;
}
.gallery--blue::before {
  background: #00bbf9;
}
.gallery--blue figcaption {
  color: white;
}
.gallery--blue figcaption::before {
  background: #00bbf9;
}
.gallery--blue button {
  border-color: white;
}
.gallery--teal::before {
  background: #00f5d4;
}
.gallery--teal figcaption::before {
  background: #00f5d4;
}
.gallery--black {
  border-color: white;
  color: white;
}
.gallery--black::before {
  background: black;
}
.gallery--black figcaption {
  color: white;
}
.gallery--black figcaption::before {
  background: black;
}
.gallery--black button {
  border-color: white;
}
.gallery--alt div {
  flex-wrap: wrap;
  justify-content: center;
}
.gallery--alt div button {
  display: none;
}
.gallery--alt div figure {
  margin: 1rem;
}
.gallery--alt--center div {
  justify-content: center;
}
.gallery--alt--center div figure {
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0;
}
@media only screen and (orientation: portrait) {
  .gallery--alt--center div figure {
    max-width: 100%;
  }
}

.contact {
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-align: center;
}
@media only screen and (min-width: 1360px) {
  .contact {
    padding: 0 12rem;
  }
}
.contact::before {
  background: white;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.contact--purple {
  color: white;
}
.contact--purple::before {
  background: #9b5de5;
}
.contact--purple__button {
  border-color: white;
}
.contact--pink::before {
  background: #f15bb5;
}
.contact--yellow::before {
  background: #fee440;
}
.contact--blue {
  border-color: white;
  color: white;
}
.contact--blue::before {
  background: #00bbf9;
}
.contact--blue__button {
  border-color: white;
}
.contact--teal::before {
  background: #00f5d4;
}
.contact--black {
  border-color: white;
  color: white;
}
.contact--black::before {
  background: black;
}
.contact--altOrder {
  display: flex;
}
.contact--altOrder aside {
  width: 50%;
}
.contact--altOrder form {
  padding-top: 6rem;
  margin: center;
  width: 50%;
}
.contact--altOrder form div {
  margin-top: 0;
  width: 100%;
}
@media only screen and (orientation: portrait) {
  .contact--altOrder {
    flex-direction: column;
  }
  .contact--altOrder aside {
    order: 2;
    width: 100%;
  }
  .contact--altOrder form {
    order: 1;
    width: 100%;
  }
}

.mediaIcons {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  margin: 1rem auto 0 auto;
}
.mediaIcons a {
  color: inherit;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 2rem 0.5rem 2rem;
}
@media only screen and (min-width: 920px) {
  .form {
    padding: 0.5rem 6rem 0.5rem 6rem;
  }
}
.form__group {
  width: 100%;
  margin-top: 1rem;
}
@media only screen and (min-width: 576px) {
  .form__group {
    width: 45%;
  }
  .form__group:nth-of-type(3) {
    width: 100%;
  }
}
.form__label {
  display: block;
  padding: 1rem 0;
  font-weight: 700;
  text-align: start;
}
.form__input {
  border: solid 2px black;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
}
.form__input:focus {
  border: solid 2px black;
  outline: none;
}
.form__button {
  margin: 1rem auto;
}

.fullImage {
  position: relative;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  display: flex;
  left: 0;
  justify-content: center;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.fullImage::before {
  background: white;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.fullImage::before {
  background: black;
  opacity: 0.75;
}
.fullImage span {
  color: white;
  font-size: 2rem;
  top: 1rem;
  position: absolute;
  right: 1rem;
}
.fullImage figure {
  width: 100%;
}
@media only screen and (min-width: 920px) {
  .fullImage figure {
    width: 50%;
  }
}
.fullImage figure img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
