@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap')

$purple: #9b5de5
$pink: #f15bb5
$yellow: #fee440
$blue: #00bbf9
$teal: #00f5d4

@mixin pseudoBackground
	position: relative
	overflow: hidden
	z-index: 1
	&::before
		background: white
		content: ''
		height: 100%
		left: 0
		position: absolute
		top:0
		width: 100%
		z-index: -1

*
	box-sizing: border-box
	margin: 0
	padding: 0
	font-family: 'Source Sans Pro', sans-serif
	font-family: 'Montserrat', sans-serif
	line-height: 1.5
	transition: all .25s ease-in-out


.switch
	@media only screen and (min-width: 920px)
		&:hover
			color: $blue
			text-decoration: none
	cursor: pointer
	text-decoration: underline
	padding: 0 .5rem 0 0
	&--hidden
		display: none

.banner
	@media only screen and (orientation: portrait) 
		flex-direction: column
	@media only screen and (min-width: 920px)
	display: flex
	flex-direction: row
	min-height: 100vh
	position: relative
	overflow-x: hidden

.spotlight
	@media only screen and (orientation: portrait) 
		flex-direction: column
	display: flex
	flex-direction: row
	position: relative
	overflow-x: hidden
	.content
		&--front
			border-radius: 0

.content
	@media only screen and (orientation: portrait) 
		order: 2
		width: 100%
	@media only screen and (min-width: 920px)
		padding: 6rem 6rem .5rem 6rem 
	@include pseudoBackground
	display: flex
	flex-direction: column
	height: auto
	padding: 2rem 2rem .5rem 2rem
	width: 50%
	&__header
		h1
			@media only screen and (max-width: 920px)
				font-size: 2rem
			font-size: 4rem
			margin-top: 0
		h2
			@media only screen and (max-width: 920px)
				font-size: 1.25rem
			font-size: 2rem
			margin-top: 0
		p
			@media only screen and (max-width: 920px)
				font-size: 1rem
			font-size: 1.25rem
			margin-top: 1rem
	&__button
		background: none
		border-radius: 40px
		border-width: 2px
		border-color: inherit
		border-style: solid
		color: inherit
		font-size: 1.5rem
		margin: 1rem auto auto 0
		padding: 1rem 3rem
	&__blurb
		@media only screen and (max-width: 920px)
			font-size: .9rem
		margin-top: 1rem
	&--alignEnd
		text-align: end
		.content__button
			margin: 1rem 0 auto auto
	&--alignCenter
		text-align: center
		.content__button
			margin: 1rem auto auto auto
	&--altOrder
		@media only screen and (orientation: portrait) 
			order: 1
		order: 2
	&--altSize
		@media only screen and (orientation: portrait)
			width: 100%
		width: 70%
	&--purple
		color: white
		&::before
			background: $purple
		&__button
			border-color: white
	&--pink
		&::before
			background: $pink
	&--yellow
		&::before
			background: $yellow
	&--blue
		border-color: white
		color: white
		&::before
			background: $blue
		&__button
			border-color: white
	&--teal
		&::before
			background: $teal
	&--black
		border-color: white
		color: white
		&::before
			background: black
	&--front
		@media only screen and (max-width: 920px) 
			padding: 1rem
			width: auto
		border-radius: 10px
		margin: auto
		padding: 3rem
		position: relative
		overflow: hidden
		z-index: 2
		&::before
			opacity: 0.5
		&--pos1
			@media only screen and (orientation: portrait)
				margin-top: 0
				border-bottom-right-radius: 0
				border-bottom-left-radius: 0
			border-top-left-radius: 0
			border-bottom-left-radius: 0
			margin-left: 0
		&--pos2
			@media only screen and (orientation: portrait)
				margin-bottom: 0
				border-top-right-radius: 0
				border-top-left-radius: 0
			border-top-right-radius: 0
			border-bottom-right-radius: 0
			margin-right: 0
		&--opaque
			&::before
				opacity: 1




.image
	@media only screen and (orientation: portrait) 
		height: 50vh
		order: 1
		width: 100%
	@include pseudoBackground
	background: black
	display: flex
	height: auto
	position: relative
	order: 2
	width: 50%
	img
		height: 100%
		left: 0
		max-width: 100%
		object-fit: cover
		position: absolute
		top: 0
		width: 100%
	&--hidden
		opacity: 0.05
	&--altOrder
		order: 1
		@media only screen and (orientation: portrait) 
			order: 2
	&--altSize
		@media only screen and (orientation: portrait)
			width: 100%
		width: 30%
	&--back
		height: 100%
		position: absolute
		width: 100%
		&--cover
			z-index: 3
	&--purple
		&::before
			background: $purple
	&--pink
		&::before
			background: $pink
	&--yellow
		&::before
			background: $yellow
	&--blue
		&::before
			background: $blue
	&--imgPos1
		img
			object-position: 50% 25%
			object-fit: none
	&--imgPos2
		img
			object-position: 0% 50%
			object-fit: none
	&--imgPos3
		img
			object-position: 50% 50%
			object-fit: none
	&--imgPos4
		img
			object-position: 100% 50%
			object-fit: none
	&--imgPos5
		img
			object-position: 50% 100%
			object-fit: none

	&--teal
		&::before
			background: $teal
	&--black
		&::before
			background: black
	&--circle
		img
			@media only screen and (orientation: portrait)
				width: 100%
			border-radius: 50%
			position: relative
			left: 0
			height: Min(100%, 20rem)
			width: 25rem
			margin: auto
			max-width: Min(100%, 20rem)
		&--left
			img
				margin-left: 1rem
		&--top
			img
				margin-top: 1rem
		&--right
			img
				margin-right: 1rem
		&--bottom
			img
				margin-bottom: 1rem


.inner
	@media only screen and (min-width: 920px)
		padding: 6rem 6rem .5rem 6rem
	padding: 2rem 2rem .5rem 2rem
	margin-bottom: 1rem
	&__blurb
		margin-top: 1rem
	&__header
		h2
			@media only screen and (max-width: 920px)
				font-size: 1.25rem
			font-size: 2rem
			margin-top: 0

.gallery
	@include pseudoBackground
	margin-top: 1rem
	padding-bottom: .5rem
	text-align: center
	height: auto
	&__track
		display: flex
		overflow-x: hidden
		scroll-behavior: smooth
		position: relative
		height: auto
		width: 100%

	&__slide
		flex-grow: 0
		flex-shrink: 0
		max-width: 75vw
		margin: auto
		position: relative
		height: 240px
		width: 22.5rem
		img
			max-width: 100%
			object-fit: cover
		figcaption
			@include pseudoBackground
			color: inherit
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			position: absolute
			height: 100%
			padding: 1rem 2rem
			opacity: 0
			left: 0
			top: 0
			width: 100%
			*
				margin-bottom: .5rem
			a
				margin: .5rem auto .5rem auto
				padding: .5rem 2rem
			&:hover
				opacity: 0.75
	&__container
		position: relative
		height: auto
		&:hover
			button
				opacity: 1
	&__arrow
		@media only screen and (min-width: 920px)
			opacity: 0
		border: none
		color: white
		cursor: pointer
		padding: 0 2rem
		position: absolute
		height: 100%
		top: 0
		z-index: 2
		&:focus
			outline: none 
		i
			font-size: 2rem
		&--left
			background: linear-gradient(to right, rgba(0, 0 , 0 , 0.75), rgba(255, 255 , 255 , 0))
			left: 0
		&--right
			background: linear-gradient(to left, rgba(0, 0 , 0 , 0.75), rgba(255, 255 , 255 , 0))
			right: 0		
	&--purple
		color: white
		&::before
			background: $purple
		figcaption
			&::before
				background: $purple
	&--pink
		&::before
			background: $pink
		figcaption
			&::before
				background: $pink
	&--yellow
		&::before
			background: $yellow
		figcaption
			&::before
				background: $yellow
	&--blue
		border-color: white
		color: white
		&::before
			background: $blue
		figcaption
			color: white
			&::before
				background: $blue
		button
			border-color: white
	&--teal
		&::before
			background: $teal
		figcaption
			&::before
				background: $teal
	&--black
		border-color: white
		color: white
		&::before
			background: black
		figcaption
			color: white
			&::before
				background: black
		button
			border-color: white
	&--alt
		div
			flex-wrap: wrap
			justify-content: center
			button
				display: none
			figure
				margin: 1rem 
		&--center
			div
				justify-content: center
				figure
					@media only screen and (orientation: portrait)
						max-width: 100%
					flex-grow: 0
					flex-shrink: 1
					margin: 0

.contact
	@media only screen and (min-width: 1360px)
		padding: 0 12rem 
	@include pseudoBackground
	text-align: center
	&--purple
		color: white
		&::before
			background: $purple
		&__button
			border-color: white
	&--pink
		&::before
			background: $pink
	&--yellow
		&::before
			background: $yellow
	&--blue
		border-color: white
		color: white
		&::before
			background: $blue
		&__button
			border-color: white
	&--teal
		&::before
			background: $teal
	&--black
		border-color: white
		color: white
		&::before
			background: black
	&--altOrder
		display: flex
		aside
			width: 50%
		form
			padding-top: 6rem
			margin: center
			width: 50%
			div
				margin-top: 0
				width: 100%
		@media only screen and (orientation: portrait)
			flex-direction: column
			aside
				order: 2
				width: 100%
			form
				order: 1
				width: 100%

.mediaIcons
	display: flex
	font-size: 2rem
	justify-content: space-between
	margin: 1rem auto 0 auto
	a
		color: inherit
	@media only screen and (min-width: 920)

.form
	@media only screen and (min-width: 920px)
		padding: .5rem 6rem .5rem 6rem
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	padding: 2rem 2rem .5rem 2rem
	&__group
		@media only screen and (min-width: 576px)
			width: 45%
			&:nth-of-type(3)
				width: 100%
		width: 100%
		margin-top: 1rem
	&__label
		display: block
		padding: 1rem 0
		font-weight: 700
		text-align: start
	&__input
		border: solid 2px black
		border-radius: 5px
		padding: .5rem 1rem
		width: 100%
		&:focus
			border: solid 2px black
			outline: none
	&__button
		margin: 1rem auto
