@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap')

$purple: #9b5de5
$pink: #f15bb5
$yellow: #fee440
$blue: #00bbf9
$teal: #00f5d4

@mixin psuedoBackground
	position: relative
	overflow: hidden
	z-index: 1
	&::before
		background: white
		content: ''
		height: 100%
		left: 0
		position: absolute
		top:0
		width: 100%
		z-index: -1

*
	box-sizing: border-box
	margin: 0
	padding: 0
	font-family: 'Source Sans Pro', sans-serif
	font-family: 'Montserrat', sans-serif
	line-height: 1.5

.switch
	cursor: pointer
	text-decoration: underline
	padding: 0 .5rem 0 0
	&--hidden
		display: no

.banner
	@media only screen and (orientation: portrait) 
		flex-direction: column
	@media only screen and (min-width: 920px)

	display: flex
	flex-direction: row
	min-height: 100vh
	position: relative
	overflow-x: hidden

.content
	@media only screen and (orientation: portrait) 
		order: 2
		padding: 2rem 2rem .5rem 2rem
		width: 100%
	@include psuedoBackground
	display: flex
	flex-direction: column
	height: auto
	padding: 6rem 6rem .5rem 6rem
	width: 50%
	*
		margin-bottom: 1rem
	&__header
		h1, h2
			font-size: 4rem
			font-weight: 700
		p
			font-size: 1.25rem
	&--alignEnd
		text-align: end
		.content__button
			margin: auto 0 auto auto
	&--alignCenter
		text-align: center
		.content__button
			margin: auto
	&--altOrder
		order: 2
	&--purple
		color: white
		&::before
			background: $purple
		&__button
			border-color: white
	&--pink
		&::before
			background: $pink
	&--yellow
		&::before
			background: $yellow
	&--blue
		border-color: white
		color: white
		&::before
			background: $blue
		&__button
			border-color: white
	&--teal
		&::before
			background: $teal
	&--black
		border-color: white
		color: white
		&::before
			background: black
	&--front
		@media only screen and (orientation: portrait) 
			padding: 2rem
		border-radius: 10px
		margin: auto
		padding: 6rem
		position: relative
		overflow: hidden
		z-index: 2
		&::before
			opacity: 0.5
		&--alt
			&::before
				opacity: 1
		&--left
			border-top-left-radius: 0
			border-bottom-left-radius: 0
			margin-left: 0
			padding: 2rem
		&--top
			border-top-left-radius: 0
			border-top-right-radius: 0
			margin-top: 0
			padding: 2rem
		&--right
			border-top-right-radius: 0
			border-bottom-right-radius: 0
			margin-right: 0
			padding: 2rem
		&--bottom
			border-bottom-left-radius: 0
			border-bottom-right-radius: 0
			margin-bottom: 0
			padding: 2rem




.image
	@media only screen and (orientation: portrait) 
		height: 50vh
		order: 1
		width: 100%
	@include psuedoBackground
	order: 2
	background: black
	display: flex
	height: auto
	position: relative
	order: 2
	transition: all .5s linear
	width: 50%
	img
		height: 100%
		left: 0
		max-width: 100%
		object-fit: cover
		position: absolute
		top: 0
		width: 100%
	&--altOrder
		order: 1
	&--back
		height: 100%
		position: absolute
		width: 100%
	&--purple
		&::before
			background: $purple
	&--pink
		&::before
			background: $pink
	&--yellow
		&::before
			background: $yellow
	&--blue
		&::before
			background: $blue
	&--imgPos1
		img
			object-position: 50% 25%
			object-fit: none
	&--imgPos2
		img
			object-position: 0% 50%
			object-fit: none
	&--imgPos3
		img
			object-position: 50% 50%
			object-fit: none
	&--imgPos4
		img
			object-position: 100% 50%
			object-fit: none
	&--imgPos5
		img
			object-position: 50% 100%
			object-fit: none

	&--teal
		&::before
			background: $teal
	&--black
		&::before
			background: black
	&--circle
		img
			@media only screen and (orientation: portrait)
				max-width: 25rem
				width: 100%
			border-radius: 50%
			position: relative
			left: 0
			height: 25rem
			width: 25rem
			margin: auto
			&--left
				margin-left: 0
			&--top
				margin-top: 0
			&--right
				margin-right: 0
			&--bottom
				margin-bottom: 0




